server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cognitive_exercises_dev?serverTimezone=UTC
    username: cognitive_exercises_dev_admin
    password: password
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: mysql
    properties:
      javax:
        persistence:
          schema-generation:
            create-source: metadata
            scripts:
              action: update
              create-target: database_create.sql
logging:
  level:
    com.zelazobeton.cognitiveexercieses: DEBUG