<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Cognitive exercises</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="usernameLogged != null">
      <p class="nav-link">Logged in as {{usernameLogged}}</p>
    </li>
    <li class="nav-item" *ngIf="usernameLogged != null">
      <a class="nav-link" [routerLink]="['profile']">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">About us</a>
    </li>
    <li class="nav-item" *ngIf="usernameLogged == null">
      <a class="nav-link" [routerLink]="['register']">Sign up</a>
    </li>
    <app-login-dropdown *ngIf="usernameLogged == null"></app-login-dropdown>
    <li class="nav-item" *ngIf="usernameLogged != null">
      <a class="nav-link" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</nav>

