<div class="container">
    <div class="d-flex justify-content-center">
        <form class="col-5" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input (blur)="showEmailInvalidError()"
                           type="text" class="form-control" placeholder="Email" formControlName="email">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="emailInputInvalid">
                    Please enter a valid email address
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="error !== null">
                    {{error}}
                </div>
                <button [disabled]="resetPasswordForm.invalid || showLoading" type="submit" name="button" class="btn btn-primary">
                    <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
                    <span *ngIf="showLoading">Loading...</span>
                    <span *ngIf="!showLoading">Send new password</span>
                </button>
            </div>
        </form>
    </div>
</div>
