<div class="container">
  <div class="row">
    <div class="col-2">
      <p>Uncovered pairs: {{numOfUncoveredPairs()}}</p>
      <div>
        <a [routerLink]="['../']" *ngIf="gameIsOn" class="btn btn-primary" role="button">Play again</a>
        <button class="btn btn-primary" *ngIf="gameIsOn" (click)="onSave()">Save game</button>
      </div>
      <div *ngIf="!gameIsOn">
        <h4>Congratulations, You won!</h4>
        <p>You've won {{pointsWon}} points.</p>
      </div>
    </div>
    <div class="col-9">
      <app-memory-tile *ngFor="let tile of board.memoryTiles; let elementIdx = index"
                       [tileData]="tile"
                       [tileId]="elementIdx"
                       [size]="tileSize"
                       (clickOnTile)="onTileClick($event)">
      </app-memory-tile>
    </div>
  </div>
</div>

