<div class="container">
  <div class="d-flex justify-content-center">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Old password" formControlName="oldPassword">
        </div>
        <div class="input-group mb-2">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <div class="input-group mb-2">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Confirm password" formControlName="passwordConfirmation">
        </div>
        <div class="mb-2" *ngIf="changePasswordForm.controls.passwordConfirmation.errors
         && changePasswordForm.controls.passwordConfirmation.errors.notEquivalent
         && changePasswordForm.controls.password.dirty
         && changePasswordForm.controls.passwordConfirmation.dirty">
          <small id="passwordHelp" class="text-danger">
            Passwords are not the same.
          </small>
        </div>
        <button [disabled]="changePasswordForm.invalid || loading" type="submit" name="button" class="btn btn-primary">
          Change password
        </button>
      </div>
    </form>
  </div>
</div>
