div {
    margin: 0px 2px 2px 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background: seagreen;
}

img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
}

.tile-large {
    width: 160px;
    height: 100px;
}

.tile-medium {
    width: 115px;
    height: 80px;
}

.tile-small {
    width: 90px;
    height: 70px;
}