<li class="nav-item dropdown" #dropdown>
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    {{ 'page.navbar.Login' | translate }}
  </a>
  <div class="dropdown-menu dropdown-menu-right" (click)="$event.stopPropagation()">
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input class="form-control login" type="text" name="username" formControlName="username" placeholder="Username"><br>
      <input class="form-control login" type="password" name="password" formControlName="password" placeholder="Password"><br>
      <button type="submit" [disabled]="!loginForm.valid || showLoading" name="button" class="btn btn-primary">
        <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">{{ 'page.navbar.Loading...' | translate }}</span>
        <span *ngIf="!showLoading">{{ 'page.navbar.Login' | translate }}</span>
      </button>

    </form>
    <a [routerLink]="['/reset-password']">{{ 'page.navbar.Forgot password' | translate }}</a>
  </div>
</li>

