.table td {
    vertical-align : middle;
    padding: 0.5rem;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.pagination a.unavailable {
    cursor: default;
    opacity: 50%;
}

.pagination a:hover:not(.unavailable) {
    background-color: #ddd;
}