<div class="container">
  <div class="row">
    <div class="col-8" *ngFor="let game of gamesData">
      <div class="card" style="width: 10rem;">
        <div>
          <img class="card-img-top card-img" [src]="game.icon" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{game.title}}</h5>
          <a [routerLink]="['/g/' + game.title.toLowerCase()]" class="btn btn-primary btn-block" role="button">Play</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-scoreboard></app-scoreboard>
    </div>
  </div>
</div>

