<div class="container">
  <div class="row">
    <div class="col-2">
      <p>Uncovered pairs: {{numOfUncoveredPairs()}}</p>
      <div>
        <a [routerLink]="['../']" class="btn btn-primary" role="button">Play again</a>
        <button class="btn btn-primary" (click)="onSave()">Save game</button>
      </div>
    </div>
    <div class="col-9">
      <app-memory-tile *ngFor="let tile of board.memoryTiles; let elementIdx = index"
                       [tileData]="tile"
                       [tileId]="elementIdx"
                       (clickOnTile)="onTileClick($event)">
      </app-memory-tile>
    </div>
  </div>
</div>

