<div class="container-fluid">
    <div class="row">
      <div class="col-4 frame">
        <div class="row">
          <button name="button" class="btn btn-primary" (click)="onClick($event)" id="personal-data">Personal data</button>
        </div>
        <div class="row">
          <button name="button" class="btn btn-primary" (click)="onClick($event)" id="change-password">Change password</button>
        </div>

      </div>
      <div class="col-8 frame">
        <app-change-password *ngIf="currentCard === 'change-password'"></app-change-password>
        <app-personal-data *ngIf="currentCard === 'personal-data'"></app-personal-data>
      </div>
    </div>
</div>
