<h3>Memory</h3>
<div class="d-flex flex-row align-items-center">
  <div class="p-3">
    <div>
      <p>Select difficulty level:</p>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="easy" [value]="0"  [(ngModel)]="difficultyLvl">
      <label class="form-check-label" for="easy">Easy</label>
    </div>

    <div class="form-check">
      <input type="radio" class="form-check-input" id="medium" [value]="1"  [(ngModel)]="difficultyLvl">
      <label class="form-check-label" for="medium">Medium</label>
    </div>

    <div class="form-check">
      <input type="radio" class="form-check-input" id="hard" [value]="2"  [(ngModel)]="difficultyLvl">
      <label class="form-check-label" for="hard">Hard</label>
    </div>
  </div>
  <div class="p-3">
    <button class="btn btn-primary" (click)="onStart()">Start new game</button>
  </div>
  <div class="p-3">
    <button class="btn btn-primary" *ngIf="savedGameExists" (click)="onContinue()">Continue saved game</button>
  </div>
</div>