<div class="container">
  <div class="row">
    <h3>Memory</h3>
    <p>Turn over any two tiles by clicking on them. If the two tiles match, you score.
      If they don't match, click on another one to turn them back. Remember what was on each tile and where it was.
      The game is over when all the cards have been matched.</p>
  </div>
  <div class="row centered d-flex justify-content-around">
    <p centered>Select difficulty level:</p>
  </div>
  <div class="row centered d-flex justify-content-around col-4">
    <div class="form-check">
      <input type="radio" class="form-check-input" id="easy" [value]="0" [(ngModel)]="difficultyLvl">
      <label class="form-check-label" for="easy">Easy</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="medium" [value]="1" [(ngModel)]="difficultyLvl">
      <label class="form-check-label" for="medium">Medium</label>
    </div>

    <div class="form-check">
      <input type="radio" class="form-check-input" id="hard" [value]="2" [(ngModel)]="difficultyLvl">
      <label class="form-check-label" for="hard">Hard</label>
    </div>
  </div>
  <br>
  <div class="row centered col-4">
    <button class="btn btn-primary btn-block" (click)="onStart()">Start new game</button>
    <button class="btn btn-primary btn-block" *ngIf="savedGameExists" (click)="onContinue()">Continue saved game</button>
    <button class="btn btn-primary btn-block" (click)="onGoBack()">Go Back</button>
  </div>
</div>